@model Krunal_Dhote_Task3.Models.Student

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LogiLayout.cshtml";
}

<div class="text-center">
    <h1 class="h4 mb-4 text-white">Welcome Back!</h1>
</div>

<form class="user" action="">
    <div class="form-group">
        <input type="email"  class="form-control form-control-user mt-4 p-3"
               id="exampleInputEmail" aria-describedby="emailHelp"
               placeholder="Enter Email Address...">
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user mt-4 p-3"
               id="exampleInputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="customCheck">
            <label class="custom-control-label" for="customCheck">
                Remember
                Me
            </label>
        </div>
    </div>
    <a href="index.html" class="btn btn-dark btn-user btn-block mt-4">
        Login
    </a>
    <hr>

</form>
<hr>
<div class="text-center">
    <a class="small" href="forgot-password.html">Forgot Password?</a>
</div>
<div class="text-center">
    <a class="small" href="register.html">
        @Html.ActionLink("Create an Account!", "Register")
</a>
</div>

